* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma, Verdana, sans-serif;
}

.main-container {
    width: 95%;
    margin: 0 auto;
    padding: 8px;
}

.wrapper {
    padding: 16px;
}

.list {
    padding: 16px;
}